on:
  push:
    branches: [ "main"]
jobs:
  test:
    runs-on: 
      - self-hosted
      - amd64
    container: node:23-alpine3.22
    steps:
      - name: checkout
        uses: actions/checkout@v4
  
      - name: run tests
        id: run_tests
        run: npm run test
